<h1>Edit Your Profile</h1>
<% form_for @user, html: {method: :put} do |f| %>
	<%=f.label :First_Name %>   
	<%=f.text_field :fname %>
	<%=f.label :Last_Name %>   
	<%=f.text_field :lname %> 
	<%=f.label :Email %>   
	<%=f.text_field :email %> 
	<%=f.submit :Update %> 
<% end %>